.music-container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 700px;
    margin: 50px auto;
}

.music-container h2 {
    color: #ffffff;
}

.music-container ul {
    list-style-type: none;
    padding: 0;
    max-height: 500px;
    overflow-y: auto;
}

.music-container li {
    background-color: rgba(255, 255, 255, 0.1);
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.music-container li div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.music-container li p {
    margin: 0;
    color: #ffffff;
    flex-grow: 1;
}

.music-container .button {
    background-color: #65727f;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.music-container .button:hover {
    background-color: white;
    color: black;
    border: 2px solid #007bff;
}

.music-container .button-delete {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 10px;
    margin: 0 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.music-container .button-delete:hover {
    background-color: white;
    color: black;
    border: 2px solid #ff4d4d;
    padding: 5px 10px;
}

.music-container .button-edit {
    background-color: #4d94ff;
    color: white;
    border: none;
    padding: 10px 10px;
    margin: 0 5px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.music-container .button-edit:hover {
    background-color: white;
    color: black;
    border: 2px solid #4d94ff;
}