/* App.css */

body {
  background: linear-gradient(45deg, #6a11cb 0%, #2575fc 50%, #000000 100%);
  color: rgb(200, 112, 112);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  text-align: center;
  padding: 20px;
}

.header {
  background-color: rgba(58, 4, 116, 0.7);
  padding: 10px;
  margin-bottom: 20px;
  
  border-radius: 15px;
}

.header h1 {
  margin: 0;
  color: #ffffff;
}

.navbar {
  margin-top: 10px;
}

.navbar .nav-link {
  color: #ffffff;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

.navbar .nav-link:hover {
  text-decoration: underline;
}

.main {
  padding: 20px;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}

.button:hover {
  background-color: white;
  color: black;
  border: 2px solid #007bff;
}
